WebConferenceClient/Connected Services/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WebConferenceService" />
  <xs:element name="StartSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebConferenceService" minOccurs="0" name="client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebConferenceService" minOccurs="0" name="message" nillable="true" type="q2:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectionClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebConferenceService" minOccurs="0" name="client" nillable="true" type="q3:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectionClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebConferenceService" minOccurs="0" name="client" nillable="true" type="q4:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebConferenceService" minOccurs="0" name="client" nillable="true" type="q5:Client" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebConferenceService" minOccurs="0" name="message" nillable="true" type="q6:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>